*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    color: #2207ef;
    cursor: pointer;
    text-decoration: underline;    
}
ul,
ol,
li {
    list-style: none;
}
img {
    display: block;
        max-width: 100%;
        height: auto;
        object-fit: cover;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    font-family: sans-serif;
    line-height: 1;
    background-color: #d3d0d0;
}
textarea,
button,
input {
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
}
button {
    cursor: pointer;
}
.container {
    width: 100%;
    max-width: 1280px;
    min-width: 200px;
    min-height: 745px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
}

